{% extends 'page/base.html' %}

{% block head_title %}
  About Me
{% endblock %}
  
{% block main_area %}

<!-- title -->
    <section class="about-banner mb-20">
        <div class="container" id="main-area">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
            <h1 class="text-white">
                About Me
            </h1>
            <p class="text-white link-nav">
                <a href="/">Home</a>  <span class="lnr lnr-arrow-right"></span>  <a href="/about_me">About Me</a>
            </p>
            </div>
        </div>
        </div>
    </section>


    <!-- introduce-area -->
    <section class="Aboutme-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 banner-left">
                    <img src="../storage/um.png" alt="UM" style="width:auto;height:auto;max-width:100%">
                </div>
                
                <div class="col-lg-6 col-md-6 banner-right" style="text-align:left">
                    <h3 class="mb-20">About Me</h3>
                    <p>
                        여기다 디테일한 저의 소개를 넣을 것입니다. <br>
                        근데 뭐 그게 중요합니까 <br>
                        나도 지금 교육 듣는 사람들한테 관심없는데 <br>
                        그 사람들이라고 저한테 관심 있겠습니까 <br>
                        ㅋ ㅋ ㅋ ㅋ ㅋ 
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <hr>

    <!-- experience   -->
    <section class="experience-area">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-3 col-md-3">

                </div>

                <div class="col-lg-9 col-md-9">

                </div>
            </div>
        </div>
    </section>

{% endblock %}