{% extends 'page/base.html' %}

{% block head_title %}
  Home
{% endblock %}


{% block main_area %}
  <!-- title -->
  <section class="about-banner mb-40">
    <div class="container" id="main-area">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
        <h1 class="text-white">
          Home
        </h1>
        <p class="text-white link-nav">
            <a href="/">Home</a>
        </p>
        </div>
    </div>
    </div>
  </section>


  <!-- introduce --> 
  <section class = 'introduce-area'>
    <div class="container">
      <div class="row fullscreen align-items-center justify-content-between">
        <div class="col-lg-6 col-md-6 banner-left">
          
          <h2>INTRODUCE</h2>
          <h4 class="mt-10 mb-20">myself</h4>
          <p>
            아래에 portfolio로 가는 버튼을 추가<br>
            진짜 하기 귀찮네요 이거 의외로<br>
            솔직히 html은 시시합니다. <br>
            이런거에 거의 3주 투자했죠? <br>
            개 미련하다고 생각합니다.
          </p>
          <a href="/portfolio" role="button" class="btn btn-outline-primary btn-lg">
            My Projects
          </a>



        </div>

        <div class="col-lg-6 col-md-6 banner-right">
          <img src="../storage/um.png" alt="UM" style="width:auto;height:auto;max-width:100%">
        </div> 
      </div>
    </div>
  </section>



  <!-- interest -->
  <section class="interest-area section-gap">
    <hr>
    <div class="container">
      <div class="row fullscreen d-flex">
        <h2 class="mb-15">INTERESTED IN</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-chart-bars"></span>
            <a><h4>Data Analystic</h4></a>
            <p>
              학점 3 점대 머저리지만, 어찌되었건 흉내는 낼 줄 압니다...
            </p>
          </div>       
         </div>
          
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-laptop"></span>
            <a><h4>Machine Learning</h4></a>
            <p>
              흥미는 있는데요, 제대로 모릅니다. 이론은 조금 압니다...
            </p>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-database"></span>
            <a><h4>Data Mining</h4></a>
            <p>
              머리가 나빠서 data 전처리를 잘 못합니다. 제대로 수행한다 해도 그 의미를 분석하질 못합니다.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-briefcase"></span>
            <a><h4>I Need A Job . . .</h4></a>
            <p>
              취직은 하고 싶은데, 아는 것도 없고 잘하는 것도 없습니다. 제가 사장이라면 저는 저같은 사람 채용 안할겁니다.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-trash"></span>
            <a><h4>Dear 문레기 친구들</h4></a>
            <p>
              머리도 나쁜데 코딩은 왜함? 취직 포기하고 야가다 해라
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- project preview -->
  <section class="project-preview-area section-gap">
    <hr>
    <div class="container">
      <h2 class="mb-15">LATEST PROJECTS</h2>
      <div class="row">
        {% for p in posts %}
          <div class="col-lg-4 col-md-4">
            <h2>{{ p.title }}</h2>
            <h4>{{ p.created_at }}</h4>
            <p>{{ p.content }}</p>
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endblock %}