{% extends 'page/base.html' %}

{% block head_title %}
  Home
{% endblock %}


{% block main_area %}
{% load static %}

  <!-- title -->
  <section class="about-banner mb-40">
    <div class="container" id="main-area">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
        <h1 class="text-white">
          Home
        </h1>
        <p class="text-white link-nav">
            <a href="/">Home</a>
        </p>
        </div>
    </div>
    </div>
  </section>


  <!-- introduce --> 
  <section class = 'introduce-area'>
    <div class="container">
      <div class="row fullscreen align-items-center justify-content-between">
        <div class="col-lg-6 col-md-6 banner-left">
          
          <h2>INTRODUCE</h2>
          <h4 class="mt-10 mb-20">myself</h4>
          <p>
            R, Python, SAS를 배우고 있습니다. <br>
            통계 분석을 좋아하지만 잘 하진 않습니다. <br>
            언젠가는 잘하고 싶네요.
          </p>
          <a href="/portfolio" role="button" class="btn btn-outline-primary btn-lg">
            My Projects
          </a>

        </div>

        <div class="col-lg-6 col-md-6 banner-right">
          <img src="{% static 'blog/storage/top1.jpg' %}" alt="RUN" style="width:auto;height:auto;max-width:100%">
        </div> 
      </div>
    </div>
  </section>



  <!-- interest -->
  <section class="interest-area section-gap">
    <hr>
    <div class="container">
      <div class="row fullscreen d-flex">
        <h2 class="mb-15">INTERESTED IN</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-chart-bars"></span>
            <a><h4>Data Analystic</h4></a>
            <p>
              학점은 3점 중반 밖에 안 되는 바보입니다. <br>
              어찌저찌 남들이 해놓은 코드를 보고 흉내 정도만 낼 줄 압니다. <br>
              머리가 나빠서 데이터 전처리를 잘 못합니다.
            </p>
          </div>       
         </div>
          
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-laptop"></span>
            <a><h4>Machine Learning</h4></a>
            <p>
              흥미는 있는데요, 제대로 모릅니다. 이론만 조금 압니다...
            </p>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-database"></span>
            <a><h4>Data Mining</h4></a>
            <p>
              Decision Tree나 Randon Forest, Logistic Reg, ANN 등으로 데이터 마이닝을 해본 경험은 있지만 초보적인 수준입니다.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-briefcase"></span>
            <a><h4>I Need A Job . . .</h4></a>
            <p>
              취직은 하고 싶은데, 아는 것도 없고 잘하는 것도 없습니다. 제가 사장이라면 저는 저같은 사람 채용 안할겁니다.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <span class="lnr lnr-trash"></span>
            <a><h4>Trash</h4></a>
            <p>
              저도 코딩 좀 잘하고 싶네요
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- project preview -->
  <section class="project-preview-area section-gap">
    <hr>
    <div class="container">
      <h2 class="mb-15">LATEST PROJECTS</h2>
      <div class="row">
        {% for p in posts %}
          <div class="col-lg-4 col-md-4">
            <h2>{{ p.title }}</h2>
            <h4>{{ p.created_at }}</h4>
            <p>{{ p.hook_text | safe }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endblock %}