{% extends 'page/base.html' %}

{% block head_title %}
  {{ post.title }} 
{% endblock %}


{% block main_area %}
  <!-- title -->
  <section class="about-banner mb-20">
    <div class="container" id="main-area">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h2 class="text-white mb-1">
            {{ post.title }}
          </h2>
          <h4 class="text-white mb-20">
            {{ post.hook_text }}
          </h4>
          <span class="text-white mb-5">By Jeong-Un KIM &nbsp; <span class="lnr lnr-pencil"></span>{{ post.created_at }}</span> 
          <p class="text-white link-nav">
              <a href="/">Home</a>  <span class="lnr lnr-arrow-right"></span>  <a href="archive">Portfolio</a> <span class="lnr lnr-arrow-right"></span> <a href="archive">project title</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- content -->
  <section class="portfolio-content" id="post-area">
      <div class="container">
          <!-- <img src="../storage/122.jpg" alt="red" height="300px"> -->
          <p>
            {{ post.content }}
          </p>
      </div>

  </section>

  <!-- comment -->


{% endblock %}


