{% extends 'page/base.html' %}


{% block main_area %}
    <!-- title banner -->
  <section class="about-banner">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              Portfolio
            </h1>
            <p class="text-white link-nav">
              <a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/portfolio"> Portfolio</a>
            </p>
          </div>
        </div>
      </div>
  </section>


  <div id="menubar">
    <ul>
      {% for category in categories %}
          <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
      {% endfor %}
          <li><a href="/portfolio/category/no_category/">미분류</a></li>
    </ul>
  </div>
  <hr>
  <br>



  <!-- portfolio list -->
  <section class="portfolio-list">
    <div class="container">
      <div class="col-lg-10 col-md-10 col-sm-10 mx-auto" id="main-area">
        {% if post_list.exists %}
          {% for p in post_list %}
          <div class="row portfolio-preview">
            <div class="col-lg-3 col-md-3 d-flex justify-content-center img-fluid align-self-center">
              {% if p.head_image %}
                <img src="{{ p.head_image.url }}" alt="Card image cap" class="card-img-top" width="100%">
              {% else %}
                <img src="../storage/um.png" alt="UmJunSik" class="card-img-top" width="100%">
              {% endif %}
            </div>
            <div class="col-lg-9 col-md-9">
              <h3 class="mb-1"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h3>
              <h4 class="text-muted mb-1">{{ p.hook_text }}</h4>
              <p>
                {{ p.content | truncatewords:45 }}
              </p>
              <p>
                {% if p.tags.exists %}
                  <span class="lnr lnr-tag"></span>
                  {% for tag in p.tags.iterator %}
                    <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                  {% endfor %}
                  <br>
                  <br>
                {% endif %}
              </p>
            </div>
          </div>
          <hr>
          {% endfor %}
        {% else %}
          <h3>아직 게시물이 없습니다.</h3>
        {% endif %}
      </div>


    </div>
  </section>
{% endblock %}

