{% extends 'page/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Create Post - Portfolio{% endblock %}

{% block main_area %}

  <!-- title -->
  <section class="about-banner mb-40">
    <div class="container" id="main-area">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Create New Post
                </h1>
                <p class="text-white link-nav">
                    <a href="/">Home</a>  <span class="lnr lnr-arrow-right"></span>  <a href="/about_me">Create Post</a>
                </p>
            </div>
        </div>
    </div>
  </section>

  <!-- post form -->
  <div class="container">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{ form | crispy }}
            <div id="div_id_tags_str">
                <label for="id_tags_str">Tags:</label>
                <input type="text" name="tags_str" id="id_tags_str" class="textinput form-control">
            </div>
        </table>
        <br>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
        <br>
    </form>
    <hr>



    <!-- <div class="container" id="summernote"></div>
    <button type="submit" class="btn btn-primary float-right">Submit</button>



    <script>
        $('#summernote').summernote({
          placeholder: 'Hello Bootstrap 4',
          tabsize: 2,
          height: 500
        });
    </script> -->
  






    <!-- <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table> 
        <input type="submit" value="제출">
    </form> -->
  </div>
{% endblock %}




