{% extends 'page/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Edit Post - Portfolio{% endblock %}

{% block main_area %}

  <!-- title -->
  <section class="about-banner mb-40">
    <div class="container" id="main-area">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Edit Post
                </h1>
                <p class="text-white link-nav">
                    <a href="/">Home</a>  <span class="lnr lnr-arrow-right"></span>  <a href="/about_me">Edit Post</a>
                </p>
            </div>
        </div>
    </div>
  </section>

  <!-- post form -->
  <div class="container">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{ form | crispy }}
            <div id="div_id_tags_str">
                <label for="id_tags_str">Tags:</label>
                <input type="text" name="tags_str" id="id_tags_str" value="{{ tags_str_default }}" class="textinput form-control">
            </div>
        </table>
        <br>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
        <br>
    </form>
    <br><br>
  </div>

{% endblock %}




